{%extends "base.html"%}
{%block body_block%}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form class="form-inline" action="" method="post">
            {%csrf_token%}
            <div class="form-group">
                <label for="inputPassword6">Password</label>

                <input type="password" id="inputPassword6" name="pwd" placeholder="current password"
                       class="form-control mt-2" aria-describedby="passwordHelpInline">
                <input class="btn btn-outline-primary mt-2" type="submit" value="verify">
                <small id="passwordHelpInline" class="text-muted ms-2">
                    Must be 8-20 characters long.
                </small>
            </div>
        </form>

    </div>
    <div class="col-2"></div>
</div>


{%endblock%}

<!--<form action="" method="post">-->
<!--            {%csrf_token%}-->
<!--            <input class="btn btn-outline-success" type="password" name="pwd" placeholder="current password">-->
<!--            <input class="btn btn-outline-danger" type="submit" value="verify">-->
<!--        </form>-->